.idea
.php-cs-fixer.cache
*.pyc
app/config/config.ini
app/config/sources/*.json
app/config/sources/*.txt
cache/*.cache
cache/lastdataupdate.txt
cache/stats_*.json
cache/tag.txt
cache/version.txt
composer.lock
composer.phar
logs/*.log
logs/github_log.txt
python-venv
vendor
web/data.tar.gz
web/download/.htaccess
web/download/*.tmx
web/TMX
