.idea
app/config/config.ini
app/config/sources/*.json
app/config/sources/*.txt
cache/*.cache
cache/lastdataupdate.txt
cache/stats_*.json
cache/version.txt
composer.lock
composer.phar
logs/*.log
phpDocumentor.phar
vendor
web/assets
web/p12n
web/data.tar.gz
web/docs
web/download/.htaccess
web/download/*.tmx
web/TMX
