.idea
.php_cs.cache
*.pyc
app/config/config.ini
app/config/sources/*.json
app/config/sources/*.txt
cache/*.cache
cache/lastdataupdate.txt
cache/stats_*.json
cache/tag.txt
cache/version.txt
composer.lock
composer.phar
logs/*.log
logs/github_log.txt
phpDocumentor.phar
vendor
web/assets
web/data.tar.gz
web/docs
web/download/.htaccess
web/download/*.tmx
web/p12n
web/TMX
