body {
    color: #1c1c1c;
    background-color: #f9fafc;
    font-family: Arial, sans-serif;
    padding: 0.5em;
    padding-top: 50px;
    font-size: 1em;
}

h1, h2, div#current, #links {
    font-variant: small-caps;
    color: #f1f4f9;
    background-color: #3C8FD1;
    border: 1px solid #005D99;
    text-shadow: 1px 1px 1px #333;
    font-size: 1.5em;
    text-align: center;
    margin: 0.5em auto;
    width: 750px;
}

h1 {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 5px 2em;
    width: auto;
    border-bottom-right-radius: 20px;
    box-shadow: 0px 5px 5px -5px #888;
}

h2 {
    width: 90%;
}

h1 a#transvision-title:link,
h1 a#transvision-title:visited {
    color:white;
}



div#current {
    font-size: 1.8em;
    padding:0.1em 0;
}

div#current strong {
    float: right;
    padding: 0 0.5em;
    color: orange;
    border-left: 1px solid #005D99;
}

#links {
    padding: 0.5em;
    font-size: 1em;
}

#links ul {
    padding: .2em 0;
    margin: 0 auto;
    list-style-type: none;
}

#links ul li {
    display: inline-block;
}

#links a, #links a:visited {
    color: white;
    padding: .2em 1em;
}

a, a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

fieldset {
    border: none;
    display: inline;
    min-height: 1.8em;
    margin:0;
}

fieldset {
    margin-top: 0.5em;
}

legend {
    color: gray;
}

input[type="text"] {
    min-width: 795px;
}

.searchedTerm {
    font-style: italic;
    opacity: 0.8;
    font-variant: normal;
}

table {
    border-collapse: collapse;
    margin: 0.5em auto;
}

tr:nth-child(odd) {
    background-color: #E1E3E8;
}

tr:nth-child(even) {
    background-color: inherit;
}

th {
    background-color: #3C8FD1;
    color: white;
    text-shadow: 1px 1px 1px #333;
}

th, td {
    padding: 0.5em;
    border: 1px solid gray;
}

td {
    font-size: 0.9em;
}

td a em {
    font-size:70%;
    font-style:normal;
    color: orange;
}

footer {
    font-style: italic;
    text-align:center;
    font-family:serif;
    color:#005D99;
    font-size:0.9em;
}

/* colors for results */

table tr td:first-child {
    color: #3C8FD1;
}

.red {
    color: rgb(200, 0, 0);
}

.green {
    color: rgb(0, 200, 0);
}

.blue {
    color: rgb(0, 0, 200);
}

.highlight-gray {
    color: black;
    background-color: rgba(0, 0, 0, 0.2);
}

.highlight-red {
    color: black;
    background-color: rgba(255, 0, 0, 0.4);
}

.superset {
    color: gray;
    font-size: 80%;
}

input[type=submit] {
    height: 28px;
    border:1px solid #C9D1DD;
    background-color: #3C8FD1;
    color:white;
}

input[type=submit]:hover {
    background-color: white;
    color:#3C8FD1;
}

fieldset#main select {
    display: block;
    margin: auto;
    text-align: center;
}

fieldset#main #search {
    height: 1em;
    margin-bottom: 1em;
}

fieldset#main #search input[type=submit] {
    height: 28px;
}

fieldset#main #search input[type=text] {
    height: 25px;
    padding-left: 5px;
    border:1px solid #3C8FD1;
}

fieldset#main fieldset {
    border: 1px solid #3C8FD1;
    border-top-width: 25px;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    margin-bottom: 0.5em;
    background-color: #F1F4F9;
}

fieldset#main fieldset  * {
    font-size:0.9em;
}

fieldset#main fieldset > legend {
    background-color: #3C8FD1;
    line-height:25px;
    color: white;
    text-shadow: 1px 1px 1px #333333;
    font-weight:bold;
    font-size:1em !important;
}


/* changelog page */

h3, ul {
    width: 88%;
    margin-left: auto;
    margin-right: auto;
}

/* experimental */

.alert {
    color:white;
    background-color:orange;
}

#channelcomp #main {
    display:block;
    width: 500px;
    margin:auto;
}

#channelcomp #main fieldset {
    display:inline-block;
}

#channelcomp #main fieldset select {
    display:block;
    float:left;
}

#keys #main {
    display:block;
    width: 380px;
    margin:auto;
}
