body {
    color: #1c1c1c;
    background-color: #f9fafc;
    font-family: Arial, sans-serif;
    padding: 1em;
    padding-top: 50px;
    font-size: 0.9em;
}

h1, h2, div#current, #links {
    font-variant: small-caps;
    color: #f1f4f9;
    background-color: #3C8FD1;
    border: 1px solid #005D99;
    text-shadow: 1px 1px 1px #333;
    font-size: 1.5em;
    text-align: center;
    margin: 0.5em auto;
    width: 750px;
}

h1 {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 5px 2em;
    width: auto;
    border-bottom-right-radius: 20px;
    box-shadow: 0px 5px 5px -5px #888;
}

h2 {
    width: 90%;
}

div#current {
    font-size: 2em;
}

#links {
    padding: 0.5em;
    font-size: 1em;
}

#links ul {
    padding: .2em 0;
    margin: 0;
    list-style-type: none;
}

#links ul li {
    display: inline-block;
}

#links ul li a, #links ul li a:visited {
    padding: .2em 1em;
}

a, a:visited {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: underline;
}

fieldset {
    border: 1px solid #C9D1DD;
    display: inline;
    min-height: 3em;
    background-color: #F1F4F9;
}

fieldset {
    margin-top: 0.5em;
}

legend {
    color: gray;
}

input[type="text"] {
    min-width: 795px;
}

.searchedTerm {
    font-style: italic;
    opacity: 0.8;
    font-variant: normal;
}

table {
    border-collapse: collapse;
}

tr:nth-child(odd) {
    background-color: #E1E3E8;
}

tr:nth-child(even) {
    background-color: inherit;
}

th {
    background-color: #3C8FD1;
    color: white;
}

th, td {
    padding: 0.5em;
    border: 1px solid gray;
}
