body {
    color: black;
    background-color: #f9fafc;
    padding: 1em;
    font-family: sans-serif;
    padding-top:50px;
}

h1 {
    position: absolute;
    top: 0;
    left:0;
    margin:0;
    padding: 5px 2em;
    width: auto;
    background-color: #3C8FD1;
    border: 1px solid #005D99;
    border-bottom-right-radius: 20px;
    color: #f1f4f9;
    font-size: 1.5em;
    text-align: center;
    font-variant: small-caps;
    text-shadow: 1px 1px 2px #333;
    box-shadow: 0px 5px 5px -5px #888;
}


div#current {
    margin: 50px auto;
    width: 750px;
    padding:0 1em;
    background-color: #3C8FD1;
    border: 1px solid #005D99;
    color: #f1f4f9;
    font-size: 2em;
    text-align: center;
    font-variant: small-caps;
    text-shadow: 1px 1px 2px #333;
}



fieldset#main {
    width: auto;
}

fieldset {
    border: 1px solid #C9D1DD;
    display:inline;
    min-height:3em;
    background-color: #F1F4F9;
    margin-top:0.5em;
}

legend {
    color:gray;
}

input[type="text"] {
    width: 885px;
}

h2 {
    font-size: 1.5em;
    font-variant: small-caps;
    color: black;
    background-color: #f1f4f9;
    border-bottom: 2px solid #3C8FD1;
    border-left: 2px solid #3C8FD1;
    padding-left: 0.5em;
    border-radius-bottomleft: 5px;
}

.searchedTerm {
    font-style: italic;
}

table {
    border-collapse: collapse;
    font-size: 0.8em;
}

tr {
    background-color: #f9fafc;
    border: 1px solid black;
}

tr:nth-child(odd) {
    background-color: #C9D1DD;
}

tr:nth-child(even) {
    background-color: #f9fafc;
}

th, thead th {
    background-color: #3C8FD1;
    color: white;
    border: 1px solid black;
}

td {
    padding: 0.5em;
    border: 1px solid black;
}

a[hreflang]:after {
        content: "\0000a0(" attr(hreflang) ")";
}

a.entities {
    color: black;
    font-weight: 600;
    text-decoration: none;
    border-bottom: 1px dotted black;
    cursor: help;
}

#links {
    margin-top: 2em;
    margin-left: auto;
    margin-right: auto;
    padding: 0.5em;
    width: 80%;
    font-size: 1em;
    background-color: #f3ffcd;
    border: 3px solid #498504;
    border-radius: 10px;
    box-shadow: 0px 10px 5px -5px #888;
}

#links ul {
    padding: .2em 0;
    margin: 0;
    list-style-type: none;
    text-align: center;
}

#links ul li {
    display: inline;
}

#links ul li a, #links ul li a:visited {
    font-size: 1em;
    color: #5E9E14 !important;
    text-decoration: none;
    font-weight: bold;
    padding: .2em 0.5em;
}

#links ul li a:hover {
    text-decoration: underline;
}
