/* Rules specific for /showrepos (Health View) */

#wrapper {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.metrics {
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    background: #fff;
    margin-bottom: 50px;
}

.metric .completion {
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
    text-shadow: 1px 1px 2px rgba(30, 30, 30, 1);
    padding: 3px 5px;
}

.metric .no-l10n {
    color: #f00;
}

.metric.old {
    font-weight: bold;
    color: #f00;
}

.tab-content .stats-table {
    display: table-cell;
    vertical-align: top;
    text-align: center;
    padding: 10px 20px;
}

.stats-panel {
    display: table-cell;
    width: 100%;
}

.stats-panel .tab-links {
    border-top: none;
}

.stats-panel .tab-content {
    box-shadow: none;
}

.stats-panel .metrics {
    margin-right: 0;
    padding-top: 0;
}

.stats-panel .metrics h4 {
    margin-top: 0;
    padding: 15px 20px;
}

/* Tabs */
.tab-links {
    margin: 0;
    padding: 0;
    background: #fbfbfb;
    border-top: 1px solid #c1c1c1;
    border-bottom: 1px solid #c1c1c1;
    width: 100%;
}
.tab-links:after {
    display: block;
    clear: both;
    content: '';
}

.tab-links li {
    float: left;
    list-style: none;
}

.tab-links a {
    height: 30px;
    padding: 14px 30px 7px;
    display: inline-block;
    color: #4c4c4c;
}

.tab-links a:hover {
    background-color: #ebebeb;
    text-decoration: none;
}

li.active a,
li.active a:hover {
    height: 26px;
    background-color: #ebebeb;
    border-bottom: 4px solid #ff9500;
}

.tab-content {
    box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15);
    background: #fff;
    text-align: left;
    vertical-align: top;
}

.tab-content table {
    width: 40%;
    display: inline-block;
    text-align: center;
    margin: 0;
}

.tab {
    display: none;
}

.tab.active {
    display: block;
}

.tab-content .tabs {
    width: 100%;
}

/* Responsive */

@media only screen and (max-width: 850px) {
    .stats-table {
        display: inline-block;
        margin: 20px;
    }

    .stats-panel {
        display: inline-block;
        text-align: left;
    }

    .stats-panel .tab-links {
        border-top: 1px solid #c1c1c1;
    }

    .stats-panel .tab-content {
        text-align: left;
    }

    /* Tabs */
    .tab-content {
        text-align: center;
    }

    .tab-links a {
        height: 20px;
        padding: 4px 20px 4px;
    }

    li.active a,
    li.active a:hover {
        height: 16px;
    }
}
