/* Fonts */
/* Updated on www.mozilla.org 2015-06-17 */

@font-face {
    font-family: 'Open Sans Light';
    src: url(/fonts/OpenSans/OpenSans-Light.woff2) format('woff2'),
         url(/fonts/OpenSans/OpenSans-Light-webfont.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans Light';
    src: url(/fonts/OpenSans/OpenSans-Semibold.woff2) format('woff2'),
         url(/fonts/OpenSans/OpenSans-Semibold-webfont.woff) format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans Light';
    src: url(/fonts/OpenSans/OpenSans-LightItalic.woff2) format('woff2'),
         url(/fonts/OpenSans/OpenSans-LightItalic-webfont.woff) format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Open Sans';
    src: url(/fonts/OpenSans/OpenSans-Regular.woff2) format('woff2'),
         url(/fonts/OpenSans/OpenSans-Regular-webfont.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url(/fonts/OpenSans/OpenSans-Bold.woff2) format('woff2'),
         url(/fonts/OpenSans/OpenSans-Bold-webfont.woff) format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url(/fonts/OpenSans/OpenSans-Italic.woff2) format('woff2'),
         url(/fonts/OpenSans/OpenSans-Italic-webfont.woff) format('woff');
    font-weight: normal;
    font-style: italic;
}

/* General structure */

html {
    min-height: 100%;
}

body {
    color: #333;
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 14px;
    line-height: 1.5;
    margin: 0 auto;
    padding: 0;
    border-top: 1px solid #fff;
    position: relative;
    background-color: #cadded;
    background-image: url(/img/grain.png), linear-gradient(to bottom, #cadded 0%, #f6f4ec 100%);
    background-origin: padding-box, padding-box;
    background-position: 0 0, 0 0, 0 0;
    background-repeat: repeat;
    background-size: auto auto, auto auto, auto auto;
    min-width: 320px;
}

#pagecontent {
    padding: 0 5px;
}

a,
a:visited {
    color: #0095dd;
    text-decoration: none;
}

a:hover {
    color: #00539f;
    text-decoration: underline;
}

#beta-badge {
    position: absolute;
    width: 80px;
    height: 80px;
    top: 0;
    left: 0;
    background: url(/img/beta_ribbon.png) top left no-repeat transparent;
}

#beta-badge span {
    display: none;
}

/* Titles */

h1,
h2,
#current {
    font-family: 'Open Sans Light', Arial, sans-serif;
    color: #333;
    font-size: 1.4em;
    text-align: center;
    margin: 0.5em auto;
    width: 80%;
    clear: both;
}

h1 {
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 50%;
    padding: 5px 10px;
    letter-spacing: 1px;
    margin: 0 0 0 -80px;
    width: 140px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    box-shadow: 0 5px 5px -5px #888;
}

h1 a,
h1 a:visited {
    color: #333;
}

h2 {
    width: 80%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    padding: 15px 0;
}

h3 {
    width: 80%;
    padding: 15px 0;
    text-align: center;
    font-size: 18px;
    margin: 0 auto;
}

#page_title {
    border-bottom: none;
    font-size: 1.8em;
    font-weight: normal;
    padding-bottom: 0;
}

#page_descrition {
    padding: 0;
    font-size: 14px;
    font-weight: normal;
}

#current {
    font-size: 1.8em;
    padding: 0.1em 0;
    margin-top: 30px;
}

#current strong {
    display: inline-block;
    padding: 0 0.5em;
    border-left: 1px solid #a9a9a9;
    margin-left: 0.5em;
    color: #ffa500;
}

/* Top and bottom links */

.links {
    clear: both;
    font-family: 'Open Sans Light', Arial, sans-serif;
    font-size: 1em;
    margin: 4em auto 1em auto;
    text-align: left;
    width: 550px;
}

.links h3 {
    padding: 0 0 6px 12px;
    margin: 0;
    font-size: 14px;
    text-align: left;
}

.links ul {
    list-style-type: none;
    margin: 0;
    padding: 0 0 0 12px;
}

.linkscolumn {
    width: 180px;
    float: left;
}

#links-top {
    width: 100%;
    background: #fff;
    margin: 0;
    padding: 50px 0 20px;
    float: left;
    display: none;
}

.nojs #links-top {
    display: block;
}

#links-top .container {
    width: 550px;
    margin: 0 auto;
}

#links-top-button-container {
    width: 100%;
    height: 36px;
}

#links-top-button span {
    display: none;
}

#links-top-button {
    clear: both;
    display: block;
    float: right;
    margin-right: 5px;
    width: 125px;
    height: 36px;
    background: url(/img/menu.png) center 0 no-repeat transparent;
}

.nojs #links-top-button {
    background-position: 0 -38px;
}

.selected_view,
.selected_view:visited {
    color: #00539f;
    font-weight: bold;
}

#noscript-warning {
    color: #f2294b;
    text-align: center;
    font-weight: bold;
    padding: 0 30px;
    margin-top: 20px;
    display: none;
}

.nojs #noscript-warning {
    display: block;
}

/* Tables */

table {
    border-collapse: collapse;
    margin: 0.5em auto;
}

tr:nth-child(odd) {
    background-color: rgba(255, 255, 255, 0.6);
}

tr:nth-child(even) {
    background-color: rgba(255, 255, 255, 0.9);
}

tr:first-child,
#channelcomp tr:nth-child(2) {
    background-color: transparent;
    box-shadow: none;
}

th {
    padding: 0.5em;
}

td {
    padding: 0.5em;
    border: 1px solid rgba(0, 0, 0, 0.05);
    font-size: 0.9em;
    vertical-align: top;
}

.celltitle {
    display: none;
}

td a.onestring_search {
    display: block;
    margin: 0 auto;
    padding: 0 4px;
}

td a.onestring_search:hover {
    text-decoration: none;
}

td a em,
td em.error {
    font-style: normal;
    color: #f00;
}

td em.error {
    padding-left: 6px;
}

td a.tag {
    font-size: 75%;
    color: #808080;
    background-color: #d1cfd0;
    padding: 0.2em 0.4em;
    border-radius: 0.25em;
    float: left;
    margin: 0 1px;
}

td .resultpermalink {
    background-color: #add8e6;
}

td a.tag:hover {
    color: #fff;
    background-color: #adacac;
}

td a.l10n {
    background-color: #32cd32;

}
td a.l10n:hover {
    background-color: #adacac;
}

td .link_to_entity {
    margin-left: 0.4em;
    float: left;
}

td .result_meta_link {
    font-size: 75%;
    text-align: left;
    margin-top: 4px;
}

td .result_meta_link span {
    padding-left: 6px;
}

td .result_meta_link .source_link {
    color: #ffa500;
}

td .result_meta_link .bug_link {
    color: #404d6c;
}

#footer {
    font-style: italic;
    text-align: center;
    font-family: 'Times New Roman', serif;
    font-size: 0.9em;
    clear: both;
    padding-top: 2em;
    line-height: 0.4;
}

/* colors for results */

table tr td:first-child {
    color: #3c8fd1;
}

.red {
    color: rgb(200, 0, 0);
}

.green {
    color: rgb(0, 200, 0);
}

.blue {
    color: rgb(0, 0, 200);
}

.highlight {
    /* generic highlight */
    color: #000;
    background-color: rgba(255, 165, 0, 0.77);
    border-radius: 3px;
}

.highlight-gray {
    color: #000;
    background-color: rgba(0, 0, 0, 0.2);
}

.highlight-red {
    color: #000;
    background-color: rgba(255, 0, 0, 0.4);
}

.superset {
    color: #808080;
    font-size: 80%;
}

/* Search form */

#searchform {
    max-width: 1014px;
    margin: 10px auto;
    text-align: center;
}

.smallscreen_notices {
    display: none;
}

.searchedTerm {
    font-style: italic;
    opacity: 0.8;
    font-variant: normal;
}

input[type='submit'],
.button {
    background-color: #277ac1;
    background-image: linear-gradient(#43a6e2, #277ac1);
    background-repeat: repeat-x;
    border: 0 none;
    border-radius: 0.25em 0.25em 0.25em 0.25em;
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.2), 0 -1px 0 0 rgba(0, 0, 0, 0.3) inset;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    line-height: 1.1;
    margin-top: 33px;
    min-width: 80px;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
    transition: all 0.25s linear 0s;
}

#root input[type='submit'] {
    margin-top: 0;
    min-width: 100px;
    vertical-align: middle;
}

input[type='submit']:hover,
.button:hover {
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.2), 0 -1px 0 0 rgba(0, 0, 0, 0.3) inset, 0 12px 24px 2px #38a9ed inset;
    color: #fff;
    text-decoration: none;
    transition: all 0.25s linear 0s;
}

fieldset {
    border: none;
    display: inline-block;
    min-height: 3em;
    margin: 0.5em 0 0;
}

#main_search select {
    display: block;
    width: 110px;
    font-size: 0.8em;
}

#main_search #search_type {
    display: block;
    width: 140px;
}

#main_search #search {
    margin: 0;
}

#main_search #search input[type='text'] {
    background: none repeat scroll 0 0 #fff;
    border-color: #b2b2b2;
    border-radius: 3px 3px 3px 3px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px rgba(255, 255, 255, 0.5);
    font-size: 12px;
    height: 22px;
    padding: 5px 7px;
    transition: all 0.1s linear 0s;
    width: calc(80% - 20px);
    padding-right: 20px;
    vertical-align: middle;
}

#main_search #searchcontext {
    font-size: 0.8em;
    margin-top: 2px;
    padding-left: 9px;
}

#main_search #searchcontext span {
    font-weight: bold;
}

#main_search fieldset {
    margin-bottom: 0.5em;
    vertical-align: top;
    min-height: 5em;
}

#main_search fieldset > label {
    line-height: 1.9;
    font-weight: bold;
}

#main_search fieldset .default_option input {
    float: left;
    margin: 0.45em 0.3em 0 0;
}

#main_search fieldset .default_option span {
    float: left;
    font-size: 0.75em;
    padding-top: 0.2em;
}

#main_search fieldset#locale_switch {
    margin: 4px 0;
    padding: 2.5em 0;
    min-height: 18px;
    min-width: 18px;
    cursor: pointer;
    background: url(/img/swap_icon_horiz_18x18.png) center no-repeat transparent;
}

#search_field_container {
    position: relative;
    display: inline;
}

#clear_search {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 22px;
    background: url(/img/clear_icon_18x18.png) center no-repeat transparent;
}

#advanced_search {
    width: 250px;
    text-align: left;
}

#advanced_search span > label {
    font-size: 0.9em;
}

#advanced_search span {
    white-space: nowrap;
    font-size: 1em;
    display: block;
    float: left;
    width: 110px;
}

#simplesearchform {
    display: block;
    margin: 10px auto;
    text-align: center;
}

#simplesearchform #locale_select {
    width: 80px;
}

#simplesearchform #product_select {
    width: 150px;
}

/* Autocomplete styles for suggestion popup */
.autocomplete-suggestions {
    border: 1px solid #999;
    background-color: #fff;
    overflow: auto;
}

.autocomplete-suggestion {
    padding: 2px 5px;
    white-space: nowrap;
    overflow: hidden;
}

.autocomplete-selected {
    background-color: #f0f0f0;
}

.autocomplete-suggestions strong {
    font-weight: normal;
    color: #3399ff;
}

.autocomplete-group {
    padding: 2px 5px;
}

.autocomplete-group strong {
    display: block;
    border-bottom: 1px solid #000;
}

/* Filter buttons on search results */

#filters {
    margin: auto;
    max-width: 90%;
    text-align: center;
}

#filters h4 {
    display: inline;
}

#filters .filter {
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.6);
    color: #333;
    padding: 5px 10px;
    margin: 2px;
    border-radius: 0.25em 0.25em 0.25em 0.25em;
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.2), 0 -1px 0 0 rgba(0, 0, 0, 0.3) inset;
    line-height: 1.1;
    border: 0 none;
    text-decoration: none;
    min-width: 60px;
}

#filters .filter.selected {
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
    font-weight: bold;
    background-color: #277ac1;
    background-image: linear-gradient(#43a6e2, #277ac1);
    background-repeat: repeat-x;
    color: #fff;
}

#filters .filter:hover {
    background-color: rgba(255, 255, 255, 0.9);
}

/* special results */

.resultsbox {
    max-width: 800px;
    font-size: 16px;
    margin: 0 auto;
}

.resultsbox h3,
.resultsbox ol {
    text-align: left;
    margin: 0 0 0 15px;
}

/* Experimental view */

#experimental {
    margin: 10px auto 0;
    top: 0;
    right: 0;
    width: 160px;
    height: 20px;
    font-size: 1em;
    letter-spacing: 1px;
    text-align: center;
    padding: 5px 0;
}

.alert {
    color: #fff;
    background-color: #ffa500;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1) inset;
}

/* API promotion */
.api_link {
    font-size: 12px;
    text-align: center;
}

.api_link span {
    padding: 0.2em 0.4em;
    border-radius: 0.33em;
    margin: 0 6px;
    display: inline-block;
    background: #e04e54 none repeat scroll 0 0;
    text-transform: uppercase;
    color: #FFF;
    letter-spacing: 0.1em;
    position: relative;
    top: -2px;
}

/* Gaia comparison view */

.added_string {
    color: #008000;
}

.deleted_string {
    color: #f00;
}

#gaia_views_list {
    margin: 10px auto;
    width: 200px;
}

#gaia h3 {
    margin-top: 30px;
}

.subtitle {
    text-align: center;
}

/* Glossary view */
#glossary_matches {
    width: 80%;
    margin: 0.5em auto;
}

/* Credits */
#credits #pagecontent {
    margin: 30px auto;
    width: 80%;
}

#credits ul {
    padding-left: 15px;
}

/* One-string view */

#onestring tr:target {
    background-color: #90ee90;
}

/* Responsive */

@media only screen and (max-width: 850px) {
    table.collapsable,
    table.collapsable thead,
    table.collapsable tbody,
    table.collapsable td,
    table.collapsable tr {
        display: block;
        word-wrap: break-word;
        padding: 0;
    }

    table.collapsable th {
        display: none;
    }

    table.collapsable td {
        border: none;
        clear: both;
        padding: 6px;
    }

    table.collapsable td:after {
        color: #e1e1e1;
        font-size: 23px;
        font-weight: bold;
    }

    table.collapsable .celltitle {
        display: block;
        float: left;
        color: #000;
        font-weight: bold;
        padding: 2px 6px 2px 0;
    }

    table.collapsable .link_to_entity,
    table.collapsable .string,
    table.collapsable .result_meta_link {
        margin-left: 0.5em;
        clear: both;
        width: 100%;
    }

    table.collapsable td a.tag {
        margin-top: 2px;
    }

    #filters h4 {
        display: block;
    }
}

@media only screen and (max-width: 640px) {
    body {
        font-size: 12px;
    }

    h2 {
        font-size: 1.2em;
    }

    #current {
        font-size: 1.3em;
    }

    #filters h4 {
        display: block;
    }

    .links {
        font-size: 0.9em;
        margin: 2em auto 1em auto;
        text-align: left;
        width: 460px;
    }

    #links-top .container {
        width: 460px;
    }

    .linkscolumn {
        width: 150px;
    }

    /* special results */
    .resultsbox {
        width: 60%;
    }

    .resultsbox h3,
    .resultsbox ol {
        font-size: 12px;
    }

    #search input[type='submit'] {
        margin: 10px 0 10px;
    }
}

@media only screen and (max-width: 460px) {
    h1 {
        padding: 5px;
        font-size: 1.1em;
        width: 80px;
        letter-spacing: normal;
        margin-left: -40px;
    }

    #current,
    h2 {
        font-size: 1.1em;
    }

    #filters h4 {
        display: block;
    }

    #filters .filter {
        font-size: 0.8em;
    }

    #filters .filter {
        display: inline-block;
        padding: 2px 4px;
        margin: 1px;
    }

    #footer {
        font-size: 0.8em;
    }

    #links-top-button {
        width: 100px;
        background: url(/img/menus.png) top center no-repeat transparent;
    }

    .links {
        font-size: 1em;
        width: 100%;
    }

    #links-top .container {
        width: 100%;
    }

    .links ul {
        padding: 0;
        width: 100%;
    }

    .links h3 {
        text-align: center;
        font-size: 1.2em;
        margin: 1em 0 0.5em;
        padding: 0;
        width: 100%;
    }

    .linkscolumn {
        width: 100%;
        float: none;
        text-align: center;
    }

    table.collapsable td a.tag {
        margin: 2px 8px 0 0;
        padding: 0.2em 1em;
        font-size: 0.8em;
    }

    td .result_meta_link a {
        margin-left: 8px;
    }

    td .result_meta_link .source_link {
        margin-left: 0;
    }

    #search input[type='submit'],
    input[type='submit'] {
        display: block;
        margin: 10px auto;
    }

    #main_search fieldset {
        display: block;
        background-color: transparent;
        min-height: 0;
        text-align: left;
    }

    #main_search fieldset .default_option input,
    #main_search fieldset .default_option span {
        float: none;
    }

    #main_search select,
    #main_search #search_type {
        display: inline;
    }

    #main_search fieldset label {
        display: inline-block;
        min-width: 8em;
    }

    #main_search fieldset select,
    #main_search fieldset select#search_type {
        display: inline-block;
        width: 13em;
    }

    #main_search fieldset#locale_switch {
        margin: -1.2em 0;
        padding: 0 0 0 14.5em;
        background: url(/img/swap_icon_vert_18x18.png) center no-repeat transparent;
    }

    #main_search fieldset#locale_switch img {
        display: block;
    }

    /* Hide search options */
    .smallscreen_notices {
        display: block;
        font-size: 0.8em;
    }

    #displaysearchoptions {
        font-weight: bold;
    }

    /* special results */
    .resultsbox {
        width: 60%;
    }

    .resultsbox h3,
    .resultsbox ol {
        font-size: 10px;
    }
}

/* Tooltips for copy-pasting of strings */
.clipboard {
    float: right;
    font-size: 200%;
    color: #000;
    cursor: pointer;
}

@media only screen and (max-width: 850px) {
    .clipboard img {
        position: relative;
        right: 4px;
        bottom: 4px;
    }
}

.clipboard:active {
    background: #90ee90;
}

.tooltip {
    position: relative;
}

.tooltip:hover::after {
    position: absolute;
    font-size: small;
    text-align: center;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 5px;
    bottom: 26px;
    color: #fff;
    content: attr(data-title);
    right: 20%;
    padding: 4px 10px;
    z-index: 98;
}

.tooltip:hover::before {
    position: absolute;
    border: solid;
    border-color: #fff transparent;
    border-width: 6px 6px 0 6px;
    bottom: 20px;
    content: "";
    left: 60%;
    z-index: 99;
}
